extends layout
block title
  title About this site
block content
  h1 About this website
  h2 Privacy
  h3#cookies Cookies
  p.twothirds.
     We uses cookies to make sure the website works the way it should.
     These are small files we place on your computer.
     We set the following cookies:
  table
    tr
      th Cookie
      th Purpose
      th Expires
    tr
      td: code connect.sid
      td a unique number we use to identify your session, so we show you appropriate content
      td when you close your browser
    tr
      td: code seen-cookie
      td lets us know you've seen our cookie banner, so we know not to show it again
      td after three months
  h3 Data
  p.twothirds.
    When you submit a form on this website, you are giving us data, such as:
  ul
    li your email address, username and password when you sign up
    li findings of a polling station observation
    li your observer identification number and surname
  p.
    We use this information to:
  ul
    li let you to log in to the website
    li detect problems with the electoral process
    li make it harder for unaccredited observers to abuse the website
  p.twothirds.
    When you change a field in a form, your browser might send us the data before you click the “submit” button.
    We do this to ensure that your data is sent to us as often as possible, in case the device you are using loses
    its connection to the Internet.
  p.twothirds.
    We link to and use third-party assets to make some parts of the website nicer or easier to use.
    Some of the assets are hosted externally, and the content delivery networks that provide them may
    store information about your visits to this websies. Examples of these third-praty assets include
  ul
    li Google Fonts
    li Leaflet.js
    li MetroUI icons
  p
    span The code for this website is available on&nbsp;
    a(href='//github.com/zuzak/scrutineer') GitHub
    span .
  if hash
    h2 Version information
    p
      span The current Git version is&nbsp;
      code.code: a(href='https://github.com/zuzak/scrutineer/commit/'+hash)= hash
      span .
  h2 Credits
  h3 Third-party content
  p
    span The election inspection questionnaire is based partly on designs by:
    ul
      li
        span the&nbsp;
        abbr(title="Organization for Security and Co-operation in Europe")
          a(href="http://osce.org") OSCE
        span 's&nbsp;
        a(href="http://osce.org/odihr") Office for Democratic Institutions and Human Rights
      li
        span the&nbsp;
        a(href="//europa.eu") European Union
        span 's&nbsp;
        a(href="http://eeas.europa.eu/archives/eueom/missions/index_en.htm") Election Observation Missions
      li
        span the&nbsp;
        a(href="http://www.needsproject.eu/") Network for Enhanced Electoral and Democratic Support
  p
    span The election and polling station data was compiled by&nbsp;
    a(href="//democracyclub.org.uk") Democracy Club
    span .
  p
    span The colours of the main parties of Great Britain were compiled by&nbsp;
    a(href="http://blog.richardallen.co.uk/uk-political-party-web-colours/") Richard Allen
    span .
    h3 Third-party software
    p.
      The software used to power this website uses in part software written by other people.
    details
      summary= 'It uses ' + Object.keys(deps.npm).length + ' NodeJS dependencies (' + coreDeps.length + ' directly)'
      table
        tr
          th Name
          th Description
          th Version
          th Licence
        for module in Object.keys(deps.npm)
          tr
            td: a(href='https://www.npmjs.com/package/' + deps.npm[module].name)= deps.npm[module].name
            td= deps.npm[module].description
            td= deps.npm[module].versions[0]
            td
              for licence in deps.npm[module].licenses
                a(href='https://opensource.org/licenses/'+licence)= licence
            //if coreDeps.indexOf(module) > -1
              td (core)
            //else
              td (indirect)

