extends layout
block append scripts
  include leaflet.pug
  script(src='/map2.js')
block content
  h1: +welsh("Councils", "Cynghorau")
  p (These are Government Statistical Service codes)
  ol.councils
    for council in councils.sort()
      li
        a(href='/stations/'+council)= council
    else
      li
        span(lang="en").error No councils found!