extends layout
block append scripts
  include leaflet.pug
  script(src='/map2.js')
block content
  h1: +welsh("Councils", "Cynghorau")
  ol.councils
    for council in councils.sort()
      li
        a(href='/stations/'+council.slug)= council.humanName
    else
      li
        span(lang="en").error No councils found!