extends layout
block title
  title List of councils
block append scripts
  script(src='search.js')
block content
  h1: +welsh("Councils", "Cynghorau")
  span#js-search
  ol.councils
    for council in councils.sort()
      li
        a(href='/stations/'+council.slug)= council.humanName
    else
      li
        span(lang="en").error No councils found!