extends layout
block content
  .error
    h1 Something went wrong.
    h2= message
    p= error.status
    if error.stack
      details(open)
        summary Stack trace
        pre.stack #{error.stack}
