extends layout
block append scripts
  include leaflet.pug
  script(src='map.js')
block content
  h1
    span(lang="cy") Archwiliwr Etholiadau
    span(lang="en") Election Scrutineer
  h2
    span(lang="en") Map of the Polling Stations
    span(lang="cy") Map o'r Gorsaf Bleidlesio
  #map1.map