extends layout
block content
  h1 Welcome to Scrutineer
  p The system that:-
    ul
      li Citizens can use to become electoral observers
      li Electoral observers can use to find out where to observe
      li Electoral observers can record observation findings
      li (A)ROs can use to check for any problems
  p It's not yet ready for use.
