extends layout
block append scripts
block content
  h1 What would you like to do?
  ul
    if user
      li: a(href='/log-out') Log out
    else
      li: a(href='/create-account') Create a new account
      li: a(href='/log-in') Log into your account
      li: a(href='/councils') View the list of councils