include mixins/station
doctype html
html
  head
    link(rel="stylesheet", href="/colours.css")
    block scripts
    title= title
  body
    header
      .header
        a(href="/") Scrutineer
    .main-container
      .bar
      block content
