include mixins/station
include mixins/forms
doctype html
html
  head
    link(rel="stylesheet", href="/index.css")
    block scripts
    title= title
  body
    header
      .header
        a(href="/") Scrutineer
    .subheading
      p
        span Walmington-on-Sea Parliamentary By-Election 2017
        span.right Joe Bloggs
    .main-container
      .bar
      block content
    .clear
    footer
      .footer
        a(href='//democracyclub.org.uk', lang="en")
          +welsh("Data by Democracy Club", "Data erbyn Clwb Democratiaeth")