include mixins/station
include mixins/forms
doctype html
html
  head
    link(rel="stylesheet", href="/index.css")
    block scripts
    script.
      document.addEventListener('scroll', function () {
        var header = document.querySelector('header')
        if (window.scrollY > header.clientHeight) {
          if (document.body.className.indexOf(' stick') === -1) {
            document.body.className += ' stick'
          }
        } else {
          document.body.className = document.body.className.replace(' stick', '')
        }
      })
    block title
      title= title
  body#js-body
    header
      .header
        a(href="/") Scrutineer
    .subheading
      p
        block subheading
          span Walmington-on-Sea Parliamentary By-Election 2017
          if user
            a(href='/log-out').right Log out
            span.right= ' ' + user.username
          else
            a(href='/create-account').right Create account
            a(href='/log-in').right Log in
    .main-container
      .bar
      block content
    .clear
    footer
      .footer
        a(href='/about') About this website