link(rel="stylesheet", href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css")
script(src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js")
// FIXME
script(src="https://leaflet.github.io/Leaflet.Icon.Glyph/Leaflet.Icon.Glyph.js")
link(rel="stylesheet", href="https://cdn.rawgit.com/iconic/open-iconic/master/font/css/open-iconic-bootstrap.css")