extends layout
block append scripts
  include leaflet.pug
  script(src='/map2.js')
block content
  h1
    if welsh
        span(lang="cy") Gorsafoedd Pleidlesio
    span(lang="en") Polling stations
  h2= council.name
  +council(council)
  div#map.map
  ol.stations
    for station in stations
      li
        +station(station)
    else
      li
        span(lang="en") No stations matched your search.