@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed');

$content-width: 968px;

$conservative: #0087DC;
$labour: #d50000;
$liberal-democrat: #FDBB30;
$snp: #fff95d;
$plaid: #3f8428;
$green: #008066;
$ukip: #b3009d;
$independent: gray;

$accent-colour: #efefef;
$body-colour: white;
$text-colour: black;

$error-colour: firebrick;


// parties elected to devolved/national/european parliaments in UK (not NI)
$party-list: $conservative, $labour, $snp, $plaid, $green, $ukip, $independent;
.bar {
  height: 1em;
  background-size: 100%;
  background-color: lime;
  background-image: linear-gradient(
    90deg,
    $conservative,

    $conservative 12.5%,
    $labour 12.5%,

    $labour 25%,
    $snp 25%,

    $snp 37.5%,
    $liberal-democrat 37.5%,

    $liberal-democrat 50%,
    $plaid 50%,

    $plaid 62.5%,
    $green 62.5%,

    $green 75%,
    $ukip 75%,

    $ukip 87.5%,
    $independent 87.5%
  )
}

header {
  background-color: $text-colour;
  color: $body-colour;
  .header, .footer {
    max-width: $content-width;
    margin: auto;
    padding: 0.5em;
    a {
      color: inherit;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.25em;
    }
    a:hover {
      background-color: $body-colour;
      color: $text-colour;
    }
  }
}

footer {
  padding-top: 2em;
  margin: 2em 0 1em;
  background-color: $accent-colour;
  box-shadow: 0 50em 0 50em $accent-colour;
  text-align: right;
  font-size: 0.75em;

  a {
    margin: 0.5em
  }
}

.header, .footer {
  max-width: $content-width;
  margin: auto;
}
body, html { margin: 0; font-family: 'Open Sans Condensed', 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 200 !important}
.main-container {
  margin:auto;
  max-width: $content-width;
}

.map {
  min-height: 40em;
}
span[lang="cy"] {
  float: right;
}

.councils {
  columns: 6;
  font-family: monospace;
}
.stations {
  list-style-type: none;
  columns: 2;
  margin-left: inherit;
  column-width: 0.2em;
  .station {
    display: block;
  }
}
a.station:hover {
  border-color: black;
}
.addresslabel {
  //border: 1px solid $accent-colour;
  border-radius: 0.5em;
  margin: 0 0.2em 0.5em;
  display: inline-block;
  background-color: $accent-colour;
  padding: 0.5em;
  text-decoration:none;
  color: inherit;
  border: 1px solid gray;
  .address {
    white-space: pre-wrap;
  }
  .id {
    color: $accent-colour;
    float: right;
    font-size: 0.5em;
  }
  .postcode {
    text-transform: uppercase;
    font-weight: bolder;
  }
  .name {
    font-weight: bold;
    margin-bottom: 1em;
  }
  .tel, .email {
    margin-top: 0.5em;
  }
}

h1 {
  text-transform: uppercase;
}

.clear { clear:both;}


.error {
  h1 {
    color: $error-colour;
  }
  border-left: 0.5em solid $error-colour;
  padding-left: 1em;
  .stack {
    overflow-x: scroll;
    font-size: 0.7em;
    max-width: 100%;
  }
}
.right {
  float:right;
}

ul.silent {
  list-style-type: none;
  padding-left: inherit;
}