$content-width: 968px;

$conservative: #0087DC;
$labour: #d50000;
$liberal-democrat: #FDBB30;
$snp: #fff95d;
$plaid: #3f8428;
$green: #008066;
$ukip: #b3009d;
$independent: gray;

$accent-colour: #efefef;
$body-colour: white;
$text-colour: black;
$focus-colour: olive;
$divider-colour: gray;


$error-colour: firebrick;