
ul.options {
  li {
    display: inline-block;
    padding: 0.2em;
    input {
      //transform: scale(2);
    }

    label {
      height: 100%;
      padding: 1em;

      background-color: $label-background-colour;
      display: inline-block;

      span {
        padding-left: 1em;

      }
    }
    label:hover {
      background-color: lighten($label-background-colour, 10%);
    }
  }

}

li[data-subquestion-of] {
  //background-color: $accent-colour;
  //border-left: 0.5em solid $accent-colour;
  //padding-left: 0.5em;

  max-height: 99em;

  transition-property: all;
  transition-duration: 1s;
}

.revealed {
  max-height: 99em !important;
  overflow-y: visible !important;
}

ul.options.multi {
  li {
    display: block;
  }
}

input:checked ~ label {
  outline: 3px solid $focus-colour;
}

.party {
  border-left: 0.5em solid;
  border-color: pink;
}
.party-con {
  border-color: $conservative;
}
.party-ld {
  border-color: $liberal-democrat;
}
.party-lab {
  border-color: $labour;
}
.party-grn {
  border-color: $green;
}
.party-pc {
  border-color: $plaid;
}
.party-ukip {
  border-color: $ukip;
}
.party-ind {
  border-color: $independent;
}
.party-snp {
  border-color: $snp;
}

.table {
  display: table;
  .cell {
    display: table-cell;
    padding-right: 1em;
  }
}

input[value="PC"] ~ label {
  border-left: 0.2em solid $plaid;
}

input[value="UKIP"] ~ label {
  border-left: 0.2em solid $ukip;
}

/*
section {
  display:none;
}
section:target {
  display: block;
}*/
textarea {
  font-family: inherit;
  width: 100%;
  min-height: 4em;
  font-size: 100%;
}

.inspection ol {
  list-style-type: decimal-leading-zero;
}

input {
  font-size: inherit;
}

.button {
  background-color: $label-background-colour;
  padding: 1em;
  margin: 0.2em;
  color: inherit;
  text-decoration: inherit;
}

progress {
  width: 100%;
  margin: auto;
  display: block;
  min-height: 1em;
  min-width: 5em;
}

.inspection {
  h2 {
    margin-top: 2em;
  }
  h3 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.complete {
  .subheading {
    background-color: $complete-colour;
    color: lighten($complete-colour, 60%);
  }
  .station-id::after {
    content: " (COMPLETE)";
  }
}

.offline {
  .subheading {
    background-color: $error-colour;
    color: lighten($error-colour, 60%);
  }
  .station-id::after {
    content: " (OFFLINE)";
  }
}

.button {
  border: 2px outset $accent-colour;
}

.button:active {
  border-style: inset;
}