.bar {
  height: 1em;
  background-size: 100%;
  background: lime linear-gradient(
                  90deg,
                  $conservative,
                  $conservative 12.5%,
                  $labour 12.5%,
                  $labour 25%,
                  $snp 25%,
                  $snp 37.5%,
                  $liberal-democrat 37.5%,
                  $liberal-democrat 50%,
                  $plaid 50%,
                  $plaid 62.5%,
                  $green 62.5%,
                  $green 75%,
                  $ukip 75%,
                  $ukip 87.5%,
                  $independent 87.5%
  );
}

header {
  background-color: $text-colour;
  color: $body-colour;

  .logo {
    color: inherit;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.25em;
  }
  a.logo:hover {
    background-color: $body-colour;
    color: $text-colour;
  }
}

  .header, .footer {
    max-width: $content-width;
    margin: auto;
    padding: 0.5em;

  }

header {
  .header {
    max-width: $content-width;
    margin: auto;
  }
}

.subheading {
  background-color: $accent-colour;
  padding: 0.5em;
  font-size: 1em;
  min-height: 1.5em;
  z-index: 999;

  p {
    max-width: $content-width;
    margin: auto;
  }
}

.stick {
  .subheading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
  }
  .bar {
    margin-top: 2em;
  }
}

.flashmessage {
  color: $error-colour;
  padding: 1em;
  margin: 1em 0;
  span {
    outline: 0.2em solid $error-colour;
    padding: 0.5em;
  }
  span.msg-info {
    outline-color: $yes-colour;
  }
  span:before {
    content: 'Error: ';
    font-weight: bold;
  }
}