$sidebar-width: 33%;
$mainbar-width: 66%;
.sidebar {
  display:none; /* FIXME */
  max-width: $sidebar-width;
  float: left;

  menu {
    padding-left: 0;
    //border-right: 1px solid $divider-colour;
    margin: 2em 2em 2em 0;

    li {
      border-top: 1px solid $divider-colour;
      list-style-type: none;
      padding-left: 0;
      border-right: 1px solid $divider-colour;
      a {
        display: block;
        padding: 2em;
      }
      a:hover {
        background-color: $focus-colour;
      }
      li:last-child {
        border-bottom: 1px solid $divider-colour;
        border-bottom-right-radius: 1em;
      }
    }
  }
}

body, html { margin: 0; font-family: $font-stack; font-size: $base-size;}

h1, h2, h3, p {
  max-width: 66%;
}