$sidebar-width: 33%;
$mainbar-width: 66%;
.sidebar {
  max-width: $sidebar-width;
  float: left;

  menu {
    padding-left: 0;
    //border-right: 1px solid $divider-colour;
    margin: 2em 2em 2em 0;

    li {
      border-top: 1px solid $divider-colour;
      list-style-type: none;
      padding-left: 0;
      border-right: 1px solid $divider-colour;
      a {
        display: block;
        padding: 2em;
      }
      a:hover {
        background-color: $focus-colour;
      }
      li:last-child {
        border-bottom: 1px solid $divider-colour;
        border-bottom-right-radius: 1em;
      }
    }
  }

}
.mainbar {
  max-width: $mainbar-width;
  display: inline-block;
    margin-top: 2em;

  border-top: 1px solid $divider-colour;
}

.status {
  background-color: lightsteelblue;
  text-align: center;
  display: inline-block;
  padding: 1em;
  border-radius: 0.2em;

  margin: auto;
}

.subheading {
  background-color: $accent-colour;
  padding: 0.5em;
  font-size: 1em;

  p {
    max-width: $content-width;
    margin: auto;
  }



}