
footer {
  padding-top: 2em;
  margin: 2em 0 1em;
  background-color: $accent-colour;
  box-shadow: 0 50em 0 50em $accent-colour;
  text-align: right;
  font-size: 0.75em;

  a {
    margin: 0.5em
  }
}

body, html { margin: 0; font-family: $font-stack; font-size: 18px; font-weight: 200 !important}
.main-container {
  margin:auto;
  max-width: $content-width;
}


.map {
  min-height: 40em;
}
span[lang="cy"] {
  float: right;
}

.councils {
  columns: 6;
  font-family: monospace;
}
.stations {
  list-style-type: none;
  columns: 2;
  margin-left: inherit;
  column-width: 0.2em;
  .station {
    display: block;
  }
}
a.station:hover {
  border-color: black;
}
.addresslabel {
  //border: 1px solid $accent-colour;
  border-radius: 0.5em;
  margin: 0 0.2em 0.5em;
  display: inline-block;
  background-color: $accent-colour;
  padding: 0.5em;
  text-decoration:none;
  color: inherit;
  border: 1px solid gray;
  .address {
    white-space: pre-wrap;
  }
  .id {
    color: $accent-colour;
    float: right;
    font-size: 0.5em;
  }
  .postcode {
    text-transform: uppercase;
    font-weight: bolder;
  }
  .name {
    font-weight: bold;
    margin-bottom: 1em;
  }
  .tel, .email {
    margin-top: 0.5em;
  }
}

h1 {
  text-transform: uppercase;
}

.clear { clear:both;}
.clear-right { clear: right; }

.error {
  h1 {
    color: $error-colour;
  }
  border-left: 0.5em solid $error-colour;
  padding-left: 1em;
  .stack {
    overflow-x: scroll;
    font-size: 0.7em;
    max-width: 100%;
  }
}
.right {
  float:right;
}

ul.silent {
  list-style-type: none;
  padding-left: inherit;
}

.station-id {
  padding-left: 1em;
  font-size: 0.7em;
}
.mainbar {
  //max-width: $mainbar-width; FIXME
  display: inline-block;

  //border-top: 1px solid $divider-colour;
}