h3 Code of Practice for Electoral Observers
ol
    li Respect the laws of the United Kingdom, international human rights, and the authority of electoral bodies
    li Maintain strict political impartiality at all times
    li Maintain and aid in maintaining the secrecy of the ballot
    li Do not obstruct election processes
    li Provide appropriate identification
    li Maintain accuracy of observations and professionalism in drawing conclusions
    li Maintain proper personal behaviour
    li Agree to follow the above guidance