extends ../layout
block content
  h1 Log into existing account
  form(method="POST")
    if message
      p.error= message
    ul.silent
      li
        h2: label(for="username") Username
        input(name="username", required)#email
      li
        h2: label(for="password") Password
        input(type="password", name="password", minlength=8, required)#password
      li
        input(type="submit", value="Log in").button

  p Alternatively, you can&nbsp;
    a(href='/create-account') create an account
    span .