extends ../layout
block title
  title Unable to verify
block content
  .twothirds
    h1 We can't let you observe for us
    p.
      Before you can observe elections in the United Kingdom, you must first
      apply to be accredited by the Electoral Commission, the independent
      body set up by Parliament that oversees elections. Otherwise, you
      won't be allowed into a polling station, except when you cast your vote.

    p You must ask the Electoral Commission directly. You can do so&nbsp;
      a(href='https://www.electoralcommission.org.uk/find-information-by-subject/elections-and-referendums/upcoming-elections-and-referendums/observing-elections-and-referendums').
        through their website
      span .

    details
      summary Help for election agents
      p.
        In some circumstances, you don't need a card if you are involved in the
        election process in some other way (for example, as a candidate,
        election agent or representative of the Electoral Commission).

        If you think this applies to you, please contact us for help.
    a(href='/') Return to home page